html,body{
   min-height:100vh;
   height:100%;
}

.key{
   font-size:1rem;
   cursor:pointer;
   user-select:none;
}

.key.white{ 
   position:relative;
   display:flex;
   align-items:end;
   justify-content:center;

   background:var(--bs-light);
   color:var(--bs-dark);
   margin:2px;
   width:40px;
   height:80px;
}

.key.black{ 
   position:absolute;
   top:0;
   right:0;
   transform:translate3d(60%,0,0);
   z-index:100;
   font-size:.7em;


   display:flex;
   align-items:center;
   justify-content:center;

   background:var(--bs-dark);
   color:var(--bs-light); 
   width:23px;
   height:45px;
}

.bar{
   height:15px;
   border-radius:5px;
   margin-bottom:5px;

   transition: width ease-in-out .5s;
}

#progressBar{
   width:1%;
}

.fadeIn{
   animation: fadeIn 0.5s ease-in-out both;
}

.fadeOut{
   animation: fadeOut 0.5s ease-in-out both;
}

@keyframes fadeIn{
   0%{opacity:0;}
   100%{opacity:1;}
}

@keyframes fadeOut{
   0%{opacity:1;}
   100%{opacity:0;}
}